<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sjbit.ereport">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.VIBRATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EReport">
        <activity android:name=".main.ui.documents.PrescriptionDisplayActivity"></activity>
        <activity android:name=".main.ui.documents.ReportDisplayActivity" />
        <activity android:name=".main.ui.documents.DocumentListActivity" />

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr" />

        <activity android:name=".main.ui.upload.ReportUploadActivity" />
        <activity android:name=".main.ui.upload.PresciptionUploadActivity" />
        <activity
            android:name=".main.HomeActivity"
            android:label="@string/title_activity_home" />
        <activity android:name=".auth.RegistrationActivity" />
        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name= "com.sjbit.ereport.main.MyNotificationPublisher" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>